
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */

/* for head line ,color */
.banner-title {
  font-size: 56px;
  font-weight: 800;
 
}
.flower {
  color: #E95A08;
}

/* navbar styles */
.logo img{
    width: 135;
    height: 80px;
}
.navbar {
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid brown; */
}

/* Navigation List */
.nav-links {
  align-items: center;
  gap: 32px;
  list-style: none;
}

/* Navigation Link */
.nav-link {
  text-decoration: none;
}


/* Cart Icon Styling */
.cart-icon a {
  display: flex;
  align-items: center;
  gap: 6px;
}

.cart-icon img {
  width: 24px;
  height: 24px;

}

/* banner section */


.banner {
  display: flex;
  align-items: flex-end;
  max-width: 1140px;
  margin: 120px auto 0 auto; 
  /* border: 2px solid green; */

}

.banner-text
{
 
  max-width: 50%;

}
.banner-image{
  margin-top: 106px;
  max-width: 50%;
}

.banner-description {
  margin-top: 20px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}


.banner-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* plant section styles */
.plants-content{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 120px;

}
.plant-title{
  font-weight: 800;
  font-size: 3.15rem;
  margin-bottom: 16px;
}
.plant-description{
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  max-width: 880px;
  margin: 0 auto;
}
/* card styles */
.plant-card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1140px;
  margin: 0 auto;
   gap: 20px;
 
  
}
.plant-card{
  max-width: 270px;
   margin-bottom: 30px;
}
.plant-card p{
  font-weight: 800;
  font-size: 1.35rem;
}
.cart-btn{
  background-color: #E95A08;
  color: white;
  font-weight: 400;
  width: 100%;
  padding: 15px 30px;
  margin-top: 30px;
}
.card-details{
  margin-top: 30px;
  text-align: center;
}
.card-title{
  font-weight: 400;
  font-size: 1.20rem;
}

/* plant-lover section */

.plant-lover{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 200px;
  
}
.plant-lover-content{
  max-width: 500px;
 margin-left: 60px;
}
.plant-lover-title{
  font-weight: 800;
  font-size: 3.25rem;
}
.plant-lover-details li{
  list-style-type: disc;
  margin-bottom: 16px;
}
.plant-lover-details{
  font-weight: 600;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}
.plant-lover-img {
  position: relative;
}
#badge-img {
  width: 100%;
  height: auto;
  /* box-shadow: -4px 10px 4px 0 rgba(0, 0, 0, 0.25); */
}
.trusted-badge {
  position: absolute;
  top: -150px;     
  right: -130px;    
  width: 288px;   
  z-index: 10;    
}


/* responsive media query */

@media screen and (max-width: 576px){
  .navbar,
  .banner-text,
  .plants-content
   {
    padding-left: 16px;
    padding-right: 16px;
  }
  .nav-links li {
    display: none;
  }
  .nav-links li.cart-icon {
    display: flex; 
  }
  

  /* banner */
  .banner {
    flex-direction: column-reverse;
   
  }

  .banner-image {
    margin-top: 28px;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .banner-text {
    max-width: 100%;
  }

  .banner-title,
  .banner-description {
    text-align: left;
  }

  /* plant section */
  .plant-description{
    text-align: center;
  }
  .plant-card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     padding-left: 16px;
    padding-right: 16px;
    gap: 20px;
  }
}

